@charset "utf-8";
// SPDX-FileCopyrightText: 2021 Michael Jansen <info@michael-jansen.biz>
// SPDX-License-Identifier: AGPL-3.0-or-later

@import "~bulma/bulma.sass";

p > p.level {
  padding-left: 3cm
}

dl.table {
  display: flex;
  flex-flow: row wrap;

  dt {
    flex-basis: 20%;
    background: whitesmoke;
    color: #4a4a4a;
    text-align: right;
    padding: 2px 4px;
    font-weight: bold;
  }

  dd {
    flex-basis: 70%;
    flex-grow: 1;
    padding: 2px 4px 10px 2px;
    margin-left: 4px;
  }
}
